@font-face {
    font-family: 'LEPKA';
    src: url('../fonts/LEPKA.otf') format('opentype');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

.site-header {
    background-color: #caf0f8;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: column;
}

.logo-title {
    display: flex;
    align-items: center;
}

.site-header .logo {
    width: 170px;
    margin-right: 20px;
    border-radius: 50px;
}

.site-header h1 {
    font-family: "Lepka";
    margin: 0;
}

.site-header .main-nav {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.site-header .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-header .main-nav li {
    margin-left: 20px;
    flex-direction: column;
}

.site-header .main-nav a {
    color: #8D6A9F;
    text-decoration: none;
}

.hyperlinks {
    text-align: center;
}

.hyperlinks li {
    list-style: none;
}

.table {
    margin: 0 auto;
}

#fragment {
    text-align: center;
}

.Form {
    text-align: center;
    padding: 10px;
}

.site-footer {
    font-family: "Lepka";
    background-color: #caf0f8;
    padding: 10px;
    height: 50px;
    text-align: center;
    margin-top: auto;
}

.content{
    display: flex;
    flex-direction: column;
}

.table-section{
    order: 1;
}

.hyperlinks-section{
    order: 2;
}

.form-section{
    order: 3;
}

@media (min-width: 768px) {

    .site-header .main-nav li{
        display: inline;
    }

    .site-header{
        flex-direction: row;
    }

    .table-section{
        order: 2;
    }

    .hyperlinks-section{
        order: 1;
    }

    .form-section{
        order: 3;
    }

}